include README.md
include LICENSE
include requirements.txt
include CHANGELOG.md
recursive-include ride *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
recursive-exclude * .gitignore